{% extends 'MayecoPostBundle::twbslayout.html.twig' %}

{%- block body -%}

    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{{ path('mayeco_post_single', {'id': post.id}) }}">{{ post.titulo }}</a></h2>
                <p>{{ post.texto }}</p>
            </li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(posts, 'twitter_bootstrap3') }}
    </div>

{%- endblock -%}

{%- block title -%}
    Tenemos {{ posts.nbResults }} post! - pagina {{ posts.getCurrentPage }}
{%- endblock title -%}
