{% extends 'MayecoPostBundle::twbslayout.html.twig' %}

{%- block body -%}

    <h1>{{ post.titulo }}</h1>
    <p>{{ post.texto }}</p>

    <ul class="bg-info" style="margin-top:20px; padding:20px;">
        {% for comment in post.children %}
            <li id="{{ comment.id }}">
                <p><a href="{{ path('mayeco_post_single', {'id': post.id}) }}#{{ comment.id }}">#</a> {{ comment.texto }}</p>
            </li>
        {% endfor %}
    </ul>

{%- endblock -%}
